agm-map {
    height: 500px;
}

.navside {
    background-color: rgb(252, 200, 103) !important;
}

mat-nav-list {
    a:hover {
        background-color: orange;
    }
}

.navbar {
    position: sticky;
}