agm-map {
    height: 500px;
}

.navside {
    background-color: rgba(235, 183, 39, 0.993) !important;
}

mat-nav-list {
    a:hover {
        background-color: orange;
    }
}

.navbar {
    top:0%;
    position: sticky;
}