<!-- example for column wise arrangement using fxlayout -->
<mat-toolbar fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxLayoutAlign="center" fxFlex="10%"></div>
    <div fxLayoutAlign="center center" fxFlex="80%" class="header"> Road Side Assistance</div>
    <div fxLayoutAlign="center" fxFlex="10%"></div>
</mat-toolbar>
<br>

<!-- reference for fx layout -->
<!-- https://github.com/angular/flex-layout/wiki/fxLayoutGap-API -->


<!-- example for row wise fx -->
<div fxLayout="column">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
            <div fxLayoutAlign="center">
                <mat-card-title> Login</mat-card-title>
            </div>
            <div fxLayoutAlign="center">
                <mat-form-field>
                    <input type="text" formControlName="userEmail" matInput placeholder="Email ID">
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
                <mat-form-field>
                    <input type="password" formControlName="userPassword" matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center"><button type="submit" mat-button>Sign In</button></div>
        </form>
    </mat-card>
</div>