.loginCardSize{
    width: 25%;
    height: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.registerCardSize{
    width: 25%;
    height: 70%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.verificationCardSize{
    width: 25%;
    height: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.loginField{
    margin-top: 10%;
}

.registerField{
    margin-top: 5%;
}

.verificationField{
    margin-top: 5%;
}

.loginButton{
    margin-top: 5%;
}

.registerButton{
    margin-top: 5%;
}

.verificationButton{
    margin-top: 5%;
}

.resendButton {
    margin-top: 5%;
}

.mat-radio-button ~ .mat-radio-button {
    margin: 10px 0px 10px 40px
  }

  mat-error {
      font-size: 10px;
  }