<app-navbar [title]="title" [leftBtn]="leftBtn" [rightBtn]="rightBtn" (eventEmit)="outputemitted($event)" >
</app-navbar>

<script src="https://www.paypal.com/sdk/js?client-id=AV-tdAXW3xgH638gCZDrkIMImXU1YCZqmwFzlpY1UCHpdsvnxE6ElFGFosRXoL_lJSWhHc2wwtmCdkmj&vault=true"></script> 
<br>
<form [formGroup]="form" *ngIf="form && switch == false">
    <div fxLayout="row" class="details">
        <div  fxLayout="column" fxFlex="50%">
        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="name" placeholder="Name">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="mobile" placeholder="Contact">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" >
            <mat-form-field class="addAddress">
                <input type="text" readonly cdkTextareaAutosize [ngModel]="address" [ngModelOptions]="{standalone: true}" width="200px" matInput placeholder="Customer Address" [value]="address">
            </mat-form-field>
        </div>   

        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="vin" placeholder="Vehicle Identification Number">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="register_no" placeholder="Vehicle Registeration Number">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="time" placeholder="Estimated Time">
            </mat-form-field>
        </div>
 
        
        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="description" placeholder=" Issue Description">
            </mat-form-field>
        </div>
            
        <div fxLayoutAlign="center">
            <mat-form-field>
                <input type="text" readonly matInput formControlName="message" placeholder="Message">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" class="button">
                <button (click)="getImages()" mat-button> View Images </button>
        </div>
        
    </div>

    <div class="map" fxFlex="50%">
        <agm-map [latitude]="lat" [zoom]="15" [longitude]="long">
            <agm-marker [iconUrl]="icon" [latitude]="lat" [longitude]="long">
            </agm-marker>
        </agm-map>
    </div>
</div>
    
</form>

<div *ngIf="switch == true" class="pics">
    <div  *ngFor="let image of image">
        <img mat-card-image src='{{image}}'/>
      </div>
</div>


