/* You can add global styles to this file, and also import other style files */

// for the angular material to work properly we need to have this in our main css
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.layout {
    background-color: orange !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .sidenav {
        display: none;
        min-width: 25%;
    }
}

mat-sidenav-container {
    height: 100%;
    width: 100%;
    margin: 0;
}