<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [(opened)]="opened" role="navigation">
        <!-- img for the profile picture -->
        <img style="height: 8vh;border-radius: 60%" [src]="">
        <mat-nav-list>
            <a mat-list-item (click)="getURL(this.nav)" *ngFor="let nav of Nav">{{nav.displayName}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
    <mat-sidenav-content>
        <mat-toolbar class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxLayoutAlign="left" fxFlex="10%">
                <button (click)="opened = !opened" mat-icon-button>
                <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div fxLayoutAlign="center" fxFlex="80%">
                Road Side Assistance
            </div>
            <div fxLayoutAlign="center" fxFlex="10%"></div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>